
/* Carousel Animation Styles */
.carousel-container {
  position: relative;
  z-index: 10;
  padding: 2rem 0;
  display: flex;
  justify-content: end;
  align-items: end;
}


/* Alternative slide-in from left animation */
.carousel-slide-left {
  opacity: 1; 
  transform: translateX(0);
  animation: slideInFromLeft 0.5s ease-out forwards;
}

@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(800px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width: 768px) {
    .carousel-slide-left {
  opacity: 1; 
  transform: translateX(0);
  animation: slideInFromLeft 0.3s ease-out forwards;
  align-items: center;
  justify-content: center;}
.typewriter-text{
  display:none;
}
@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(0px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}



}


.projects-header {
  position: relative;
  z-index: 10;
  padding: 2rem 0;
  
}

.fade-in {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.8s ease-out;
}